/* 覆盖user agent stylesheet的margin:8px*/
body,p,h1,ul,li{margin: 0;padding: 0}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.veritas_bg {
  /*background-image: url("../images/nomembersta_bg.png");
  background-size: 100% 100%;*/
  background-color: rgba(255,0,0,0.2);
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.main_bg{
  background-color: rgba(0,0,0,0.2);
  height: 74vh;
  width: 80vw;
  margin: 3vh 5vw;
  padding: 5vw;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 4px solid;
  border-image: -webkit-linear-gradient(90deg,#0000ff,#ff0000) 5 10;
  border-image: -moz-linear-gradient(90deg,#0000ff,#ff0000) 5 10;
  border-image: linear-gradient(90deg,#0000ff,#ff0000) 5 10;
}

.main_title{
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,0.2);
  padding: 2vh;
}

.main_title_font{
  max-width: 50vw;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.linear_gradients{
  width: 20vw;
  padding-bottom: 2px;
  border-bottom: 2px solid;
  border-image: -webkit-linear-gradient(90deg,#0000ff,#ff0000) 5 10;
  border-image: -moz-linear-gradient(90deg,#0000ff,#ff0000) 5 10;
  border-image: linear-gradient(90deg,#0000ff,#ff0000) 5 10;
}
